
body {
    text-align: center;
    font-family: "Montserrat";
}

/*Title*/
.Title-image {
    width: 60%;
    transform: rotate(25deg) ;
    position:absolute;
    right: 30%;
  
}
#title .container-fluid {
    padding: 3% 15% 7%; 
    text-align: left;
}
@media (max-width:1028px) {
    .Title-image {
        position:static;
        transform:rotate(0);
    }
    h1 {
        text-align: center;
    }
}


/*  headings    */
h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat";
}

.big-heading {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5; 
    font-weight: 1.5rem;

}

.section-heading {
    font-size: 3rem;
    line-height:1.5;
}


p {
    color: #8f8f8f; 
}

.container-fluid {
    padding: 7% 15%;
}

/*  coloured section    */
.coloured-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {

}
/*Navigation Bar*/
.navbar{
    padding: 0 0 4.5rem;
}


.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    
}

.nav-link {
    font-size: 1.2rem ;
    font-family: "Montserrat";
}

/*Download buttons*/
.Download-buttons {
    margin: 5% 3% 5% 0;
}



/*features bar*/
#features {
    background-color: white;
    position: relative;
    z-index: 1;
}

.appfeature {
    padding: 5%;
    margin:auto;

    
}

.icon {
    color:#ef8172;
    margin-bottom: 1rem; 
}

.icon:hover {
    color:#ff4c68
}

/* Testimonial Section */

#testimonials {

    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-text {
     font-size:3rem;
     line-height:1.5 ;
}


/*  Press coverage  */

#press {
    background-color: #ef8172;

}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/*  Pricing Section  */
.price-text {
     font-size: 3rem;
     line-height: 1.5;
}
#pricing {
    padding: 100px;
}

.pricing-column {
    padding:3% 2%;
}

/* Call to action */

  
/*  Footer Section  */

#footer {

}

.icon {
    margin:20px 10px;
    color: black;
}